.bold { 
    font-weight: 900;
}

.cur {
    font-style: italic;
}

.font {
    font-family: Arial, sans-serif;
}


.color {
    color: firebrick;
}


.bg {
    background: url('/img/2249252.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

ol, ul {
    margin-left: 20px;
}

li {
    margin-bottom: 8px;
}
